<p>
labtable set width works!
</p>
<table >
  <thead>
    <tr>
      <th data-type="numeric">ID <span class="resize-handle"></span></th>
      <th data-type="text-short">First name <span class="resize-handle"></span></th>
      <th data-type="text-short">Last name <span class="resize-handle"></span></th>
      <th data-type="text-short">Email <span class="resize-handle"></span></th>
      <th data-type="text-long">Street <span class="resize-handle"></span></th>
      <th data-type="text-short">Country <span class="resize-handle"></span></th>
      <th data-type="text-long">Pincode <span class="resize-handle"></span></th>
      <th data-type="text-short">IBAN <span class="resize-handle"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>000001</td>
      <td>John</td>
      <td>Doe</td>
      <td>usermail@gmail.com</td>
      <td>New York</td>
      <td>United State</td>
      <td>21520</td>
      <td>XYZ123</td>
    </tr>
    <tr>
      <td>000002</td>
      <td>John</td>
      <td>Doe</td>
      <td>usermail@gmail.com</td>
      <td>New York</td>
      <td>United State</td>
      <td>21520</td>
      <td>XYZ123</td>
    </tr>
    <tr>
      <td>000003</td>
      <td>John</td>
      <td>Doe</td>
      <td>usermail@gmail.com</td>
      <td>New York</td>
      <td>United State</td>
      <td>21520</td>
      <td>XYZ123</td>
    </tr>
    <tr>
      <td>000004</td>
      <td>John</td>
      <td>Doe</td>
      <td>usermail@gmail.com</td>
      <td>New York</td>
      <td>United State</td>
      <td>21520</td>
      <td>XYZ123</td>
    </tr>
    
  </tbody>
</table>